{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.name }}</li>
        {% endfor %}
    </ul>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
